<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413377316902-3l249lia5384gjp3935lf93st4q3a7u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413377316902-3l249lia5384gjp3935lf93st4q3a7u3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413377316902-lvt9p84dcut1r5ccpkcq3off15grjh6n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7YUph-3MFcIKXB7qe0vRuogUKNeU5MaA</string>
	<key>GCM_SENDER_ID</key>
	<string>413377316902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santoshgdev.fitnessllm</string>
	<key>PROJECT_ID</key>
	<string>stable-splicer-447620-b4</string>
	<key>STORAGE_BUCKET</key>
	<string>stable-splicer-447620-b4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413377316902:ios:7549eb9bd65c049efabee7</string>
	<key>DATABASE_URL</key>
	<string>https://stable-splicer-447620-b4-default-rtdb.firebaseio.com</string>
</dict>
</plist>